$animate: top, right, left, bottom, opacity;

@each $anim in $animate {
  .animate-#{$anim} {
    animation: #{$anim} $anim-duration;
  }

  @keyframes #{$anim}{
    from {
      @if $anim != opacity {
        #{$anim}: -300px;
      }
      opacity: 0;
    }
    to {
      @if $anim != opacity {
        #{$anim}: 0px;
      }
      opacity: 1;
    }
  }


}


.animate-zoom{
  animation:zoom $anim-duration;
}

@keyframes zoom {
  from{
    opacity:0;
    transform:scale(0);
  }
  to{
    opacity: 1;
    tranform:scale(1);
  }
}
